.full {
	width:100vw;
	margin-left: 10px;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, .1fr); /* Three columns with equal width */
    gap: 35px;
    justify-content: center; /* Center the grid horizontally */
    align-items: center; /* Center the grid vertically */
}
