/* dashboard.css
 */
.baap {
	margin-left: 150px;
	text-align: center;
	margin: 100px;
	max-width: 1100px;
	margin-top: 50px;
}
.full {
	margin-left: 12%;
	max-width: 1100px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 60px;

	/* Space between the grid items */
}
@media (max-width: 1200px) {
	/* .baap {
		margin: 0px;
		margin-top: 50px;
	} */
	.full {
		margin-left: 0%;
	}
}
