.full {
	margin-left: 10px;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, .1fr); /* Three columns with equal width */
    gap: 15px;
    justify-content: center; /* Center the grid horizontally */
    align-items: center; /* Center the grid vertically */
}
